

*,
*::after,
*::before {
    box-sizing: border-box;
}


body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;

}
a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    text-transform: capitalize;
}
.container {
    max-width: 90%;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-c {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.flex-20 {
    flex: 0 1 20%;
}
.flex-23 {
    flex: 0 1 23%;
}
.flex-30 {
    flex: 0 1 30%;
}
.flex-32 {
    flex: 0 1 32%;
}
.flex-48 {
    flex: 0 1 48%;
}
.flex-50 {
    flex: 0 1 50%;
}
.flex-65 {
    flex: 0 1 65%;
}
.flex-70 {
    flex: 0 1 80%;
}
.wrap {
    flex-wrap: wrap;
}

%button{
    padding: 0.6rem 2.5rem;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius:40px;
    font-weight: 500;

}

.btn-primary{
    @extend %button;
    display: inline;
    background-color: transparent;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border:3px solid black;
}
.btn-secondary{
    @extend %button;
    font-weight: normal;
    color: grey;
    border: none;
    background-color: white;
}