// styling header
.header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "a b";

	.col-1 {
		grid-area: a;

		background-image: url(../media/home-img.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position-x: 50%;
		height: 100vh;
		padding: 2rem;
		span {
			margin-left: 8rem;
			color: rgba(34, 33, 33, 0.904);
			font-size: 1.5rem;
			font-weight: bold;
			text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.808);
		}
	}
	.col-2 {
		grid-area: b;
		background-color: $light-brown;
		padding: 2rem 0;

		ul {
			justify-content: space-around;
			li a {
				font-size: 0.9rem;
				color: grey;
				text-transform: uppercase;
				&:hover {
					color: $yellow;
				}
				&.selected {
					color: $yellow;
				}
			}
		}
	}

	small {
		display: inline-block;
		margin-top: 8rem;
		margin-bottom: 1rem;
		color: rgb(151, 151, 151);
		font-size: 0.9rem;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	h1 {
		color: rgb(87, 85, 85);
		font-size: 2.5rem;
		font-weight: 300;
		.stimulus {
			font-weight: bold;
		}
	}
	p {
		color: rgb(177, 176, 176);
		font-size: 1rem;
		line-height: 2;
		margin: 1rem 0;
		margin-bottom: 3rem;
	}
}

// styling main

.skills {
	display: grid;

	grid-template-columns: 1fr 1fr;
	grid-template-areas: "a b";
	.col-1 {
		grid-area: a;
		padding: 2rem;
		h1 {
			font-size: 2.5rem;
			text-transform: capitalize;
			margin: 0.6rem 0;
		}
		small {
			color: $yellow;
			text-transform: capitalize;
		}
		p {
			margin: 0.6rem 0;
			font-size: 1rem;
			text-align: justify;
			color: rgb(165, 163, 163);
		}
	}
	.col-2 {
		grid-area: b;
		display: grid;
		grid-template-columns: 1fr 1fr;
		.about-image {
			background-image: url(../media/about-img.jpg);
			background-size: 300%;
			background-position-x: 50%;
			background-repeat: no-repeat;
		}
		.my-skills {
			background-color: $yellow;
			padding: 2rem;

			h2 {
				color: white;
				font-size: 2.2rem;
				text-transform: capitalize;
				margin: 0.6rem 0;
			}
			.skill-intro {
				display: inline-block;
				margin: 0.6rem 0;
				margin-bottom: 3rem;
				font-size: 0.8rem;
				text-align: justify;
				color: white;
			}
			span {
				font-weight: bold;
				font-size: 0.9rem;
			}
			.white-text {
				color: white;
			}
			.outer {
				height: 2px;
				margin-bottom: 1rem;
				background-color: white;
				.inner1 {
					height: 2.5px;
					width: 90%;
					background-color: black;
				}

				.inner2 {
					height: 2px;
					width: 70%;
					background-color: black;
				}
				.inner3 {
					height: 2px;
					background-color: black;
					width: 80%;
				}
			}
		}
	}
}
%card {
	text-align: center;
	padding: 2rem;
	.fa {
		color: white;
		margin: 1rem 0;
	}
	h3 {
		font-size: 1.3rem;
		text-transform: capitalize;
		margin: 1rem 0;
		color: white;
	}
	p {
		line-height: 2;
		color: white;
	}
}
.skill-cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: "a b c d";
	.card1 {
		grid-area: a;
		@extend %card;
		background-color: $yellow;
	}
	.card2 {
		grid-area: b;
		@extend %card;
		background-color: $orange;
	}
	.card3 {
		grid-area: c;
		@extend %card;
		background-color: black;
	}
	.card4 {
		grid-area: d;
		@extend %card;
		background-color: white;
		h3,
		p {
			color: grey;
		}
		.fa {
			color: black;
		}
	}
}
%exp-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: 50%;
}
%exp-data {
	padding: 3rem;

	h2 {
		font-size: 2.4rem;
		color: white;
		text-transform: capitalize;

		font-weight: 300;
	}
	.exp-intro {
		display: inline-block;
		font-size: 0.9rem;
		margin: 0.2rem 0;
		margin-bottom: 4rem;
		text-transform: capitalize;
		color: rgb(216, 215, 215);
	}
	.fa {
		color: white;
		margin-right: 2rem;
	}
	.exp-1,
	.exp-2 {
		justify-content: flex-start;
		margin-bottom: 2rem;
		span {
			font-size: 1.2rem;
			color: white;
			text-transform: capitalize;
		}
		strong {
			color: $text-dark;
			font-weight: bold;
			font-size: 0.9rem;
		}
		p {
			color: rgb(240, 216, 216);
			font-size: 0.8rem;

			margin: 0.3rem 0;
		}
	}
}
.experiences {
	display: grid;
	grid-template-areas: "a b";
	grid-template-columns: 1fr 1fr;

	.col-1 {
		grid-area: a;
		@extend %exp-image;
		background-image: url(../media/experience-img.jpg);
	}
	.col-2 {
		grid-area: b;
		@extend %exp-data;
		background-color: $orange;
	}
}

.education {
	@extend .experiences;

	.col-1 {
		order: 2;
		@extend %exp-image;
		background-image: url(../media/education-img.jpg);
	}
	.col-2 {
		background-color: $yellow;
	}
}
.contact {
	background-color: $orange;
	display: grid;

	grid-template-columns: 1fr 1fr;
	grid-template-areas: "a b";

	.col-1 {
		grid-area: a;

		padding: 3rem;
		h2 {
			font-size: 2.5rem;
			color: white;
			margin-bottom: 0.5rem;
			text-transform: capitalize;
		}
		span {
			color: rgb(224, 224, 224);
			font-size: 1rem;
			display: inline-block;
			margin-bottom: 3rem;
		}
		input {
			display: block;
			padding: 1rem;
			border: none;
			font-size: 1.2rem;
			margin-bottom: 2rem;
			outline: none;
			border-bottom: 1px solid $yellow;
			background-color: transparent;
			width: 100%;
			&::placeholder {
				color: rgb(224, 224, 224);
				font-size: 1.2rem;
				font-weight: lighter;
				text-transform: capitalize;
			}
		}
		textarea {
			width: 100%;
			padding: 1rem;
			border: none;
			border-bottom: 1px solid $yellow;
			margin-bottom: 3rem;
			outline: none;
			background-color: transparent;
			&::placeholder {
				color: rgb(224, 224, 224);
				font-size: 1.2rem;
				font-weight: lighter;
				text-transform: capitalize;
			}
		}
		.btn-secondary {
			display: inline-block;
			padding: 0.5rem 7rem;
			font-size: 1.3rem;
		}
	}
	.col-2 {
		grid-area: b;
		display: grid;
		grid-template-columns: 1fr 1fr;
		.contact-image {
			background: url(../media/contact-img.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position-x: 50%;
		}
		.contact-info {
			background-color: black;
			padding: 3rem;
			color: white;
			strong {
				display: inline-block;
				font-size: 1.5rem;
				color: white;
				margin-bottom: 0.5rem;
				text-transform: capitalize;
			}
			address {
				font-size: 1rem;
				color: rgb(224, 224, 224);
				margin-bottom: 4rem;
				text-transform: capitalize;
			}
			.fa {
				color: rgb(224, 224, 224);
				margin-bottom: 1rem;
				margin-right: 1rem;
			}
			.yellow-text {
				color: $yellow;
			}
		}
	}
	.col-3 {
		grid-area: c;
		padding: 3rem;
		iframe {
			width: 90%;
		}
		grid-column: 1/-1;
		text-align: center;
	}
}

.footer {
	padding: 10rem 0;
	text-align: center;

	small {
		display: inline-block;
		color: #cacac9;
		font-size: 1rem;
		margin-bottom: 2rem;
	}
	strong {
		color: $yellow;
		font-size: 1rem;
	}
	.social-icons {
		ul {
			justify-content: center;
			li a {
				font-size: 1rem;
			}
		}
	}
	.fa {
		color: #a5a5a5;
		margin-right: 2rem;
	}
}
