@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
$light-brown: #f8e0d1;
$yellow: #ecaf4e;
$orange: #fc683e;
$text-dark: rgb(99, 41, 0);
$text-green: rgb(89, 97, 22);

// <i class="fa fa-paper-plane" aria-hidden="true"></i>
// <i class="fa fa-desktop" aria-hidden="true"></i>
// <i class="fa fa-television" aria-hidden="true"></i>
// <i class="fa fa-calendar" aria-hidden="true"></i>
// <i class="fa fa-phone" aria-hidden="true"></i>
// <i class="fa fa-globe" aria-hidden="true"></i>
// <i class="fa fa-html5" aria-hidden="true"></i>
// <i class="fa fa-facebook-official" aria-hidden="true"></i>
// <i class="fa fa-twitter" aria-hidden="true"></i>
// <i class="fa fa-google-plus" aria-hidden="true"></i>
// <i class="fa fa-dribbble" aria-hidden="true"></i>
// <i class="fa fa-linkedin" aria-hidden="true"></i>
